<div class="container" id="company-container">
    <div class="company-form-wrapper">
      <h2 class="card-title text-center mb-4">Company Form</h2>
      <form [formGroup]="companyForm" (ngSubmit)="addCompany()" novalidate>
        <div class="form-group">
          <label for="companyId">Company ID:</label>
          <input type="number" id="companyId" formControlName="companyId" class="form-control" placeholder="Enter company ID" required />
          <div *ngIf="companyForm.controls['companyId'].errors && companyForm.controls['companyId'].touched" class="invalid-feedback d-block">
            Company ID is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="companyType">Company Type:</label>
          <input type="text" id="companyType" formControlName="companyType" class="form-control" placeholder="Enter company type" required />
          <div *ngIf="companyForm.controls['companyType'].errors && companyForm.controls['companyType'].touched" class="invalid-feedback d-block">
            Company Type is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="companyName">Company Name:</label>
          <input type="text" id="companyName" formControlName="companyName" class="form-control" placeholder="Enter company name" required />
          <div *ngIf="companyForm.controls['companyName'].errors && companyForm.controls['companyName'].touched" class="invalid-feedback d-block">
            Company Name is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="companyDescription">Company Description:</label>
          <textarea id="companyDescription" formControlName="companyDescription" class="form-control" placeholder="Enter company description" required></textarea>
          <div *ngIf="companyForm.controls['companyDescription'].errors && companyForm.controls['companyDescription'].touched" class="invalid-feedback d-block">
            Company Description is required.
          </div>
        </div>
  
        <div class="form-group">
          <label for="companyAddress">Company Address:</label>
          <input type="text" id="companyAddress" formControlName="companyAddress" class="form-control" placeholder="Enter company address" required />
          <div *ngIf="companyForm.controls['companyAddress'].errors && companyForm.controls['companyAddress'].touched" class="invalid-feedback d-block">
            Company Address is required.
          </div>
        </div>
  
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" [disabled]="!companyForm.valid" class="btn btn-primary me-md-2">Submit</button>
          <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
    </div>
  </div>
  