/* Styles for the employer component */
.employer-dashboard {
    padding: 16px;
    background-color: rgba(255, 255, 255, 0.425);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }
  
  

employer-dashboard.component.css
.custom-table {
  width: 100%;
}

.custom-table th,
.custom-table td {
  padding: 10px; /* Adjust padding as needed */
  border-bottom: 1px solid #ccc; /* Add borders between cells */
}

.custom-table th {
  background-color: #f0f0f0; /* Example background color for table headers */
  color: #333; /* Example text color for table headers */
  font-weight: bold; /* Example font weight for table headers */
  border-right: 1px solid #ccc;
}

.custom-table td {
  background-color: #fff; /* Example background color for table cells */
  color: #000; /* Example text color for table cells - changed to black */
  border-right: 1px solid #ccc;
}

.custom-table tr:hover {
  background-color: #f9f9f9; /* Example background color on hover */
}