<h2>Password Reset</h2>
<form [formGroup]="signupForm" (ngSubmit)="Submit()">
<div class="form-group" >
    <input type="password" class="form-control" formControlName="password" placeholder="Enter your new password">
    <div *ngIf="signupForm.get('password')?.errors?.['required'] && signupForm.get('password')?.touched" class="invalid-feedback d-block">Password is required.</div>
    <div *ngIf="signupForm.get('password')?.errors?.['minlength'] && signupForm.get('password')?.touched" class="invalid-feedback d-block">Password must be at least 8 characters.</div>
    <div *ngIf="signupForm.get('password')?.errors?.['strongPassword']" class="errors-message">Your Password Must Contain <br> *At least 8 characters<br> *Number[0-9] <br> *Lower case [a-z] <br> *Upper case [A-Z] <br> *Special characters[!#$%] etc</div>

 </div>

  <div class="form-group">
    <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password">
    <div *ngIf="signupForm.get('confirmPassword')?.errors?.['required'] && signupForm.get('confirmPassword')?.touched" class="invalid-feedback d-block">Confirm Password is required.</div>
    <div *ngIf="signupForm.hasError('passwordMismatch') && signupForm.get('confirmPassword')?.touched" class="invalid-feedback d-block">Passwords do not match.</div>
  </div>
  <div>
    <button type="submit" [disabled]="signupForm.invalid" class="btn btn-primary btn-block">Submit</button>
  </div>

</form>