/* Styles for the admin component */
mat-tab-group {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px;
    border-radius: 8px;
  }
  
  mat-tab-group::ng-deep .mat-tab-body-content {
    padding: 16px;
  }
  

  .sidenav-content {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .spacer {
    flex-grow: 1;
  }
  
  