.recent-job-list {
	float: left;
	background-color: darkgrey;
	padding: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 20px;
}

.job-title {
	font-size: 20px;
}

.job-company {
	margin-top: 10px;
	margin-bottom: 20px;
}

.job-company i {
	color: orange;
	margin-left: 10px;
}

.job-skill {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 16px;
}

.job-apply-button {
	background: blue;
	padding: 10px;
	color: white;
	text-decoration: none;
	float: right;
}

.recent-job-list {
    width: 100% !important;
}