<div class="main-container">
    <div class="forgot-password-container">
      <h2>Forgot Password</h2>
      <form>
        <div class="form-group">
          <label for="emailOrMobilenumber">Email/Mobile number:</label>
          <input type="text" id="emailOrMobilenumber" name="emailOrMobilenumber" [(ngModel)]="emailOrMobilenumber" required>
        </div>
        <button class="btn-send-otp" (click)="sendOTP()">Send OTP</button>
        <div class="otp-input" *ngIf="otpSent">
          <label for="otp">Enter OTP:</label>
          <input type="text" id="otp" name="otp" [(ngModel)]="otp" required>
          <button class="btn-reset-password" (click)="resetPassword()">Reset Password</button>
        </div>
      </form>
      <div class="navigation-buttons">
        <button class="btn-login" routerLink="/login">Go to Login</button>
        <button class="btn-signup" routerLink="/signup">Sign Up</button>
        <button class="btn-home" routerLink="/welcome">Home</button>
      </div>
    </div>
  </div>