/* forgot-password.component.css */


.main-container{
    box-sizing: border-box;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4nchTElNMsTuLeDORMsaO6z0dB1Ip_vPMNQW5gqr8Pw&s');
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    /* width: 100vh; */
    
}
.forgot-password-container {
    
    align-items: center;
    justify-content: center; 
    width: 500px;
    
    padding: 20px;
    background-color: #698ed3;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* margin-top: auto; */
    align-content: center;
  }
  
  h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 6px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
    color: white;
  }
  
  .navigation-buttons {
    margin-top: 20px;
  }
  
  .btn-login, .btn-signup, .btn-home {
    display: inline-block;
    width: calc(33.33% - 10px);
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
  }
  
  .btn-login:hover, .btn-signup:hover, .btn-home:hover {
    background-color: #45a049;
  }